<template>
  <div>
    <v-img
      src="img/girlPhone.jpg"
      gradient=" 105deg,
      rgb(0, 0, 0, 0) 0%,
      rgb(0, 0, 0, 0) 50%,
       rgb(0, 0, 0, .2) 50%
      "
    >
      <v-app-bar color="white" flat>
        <div>
          <v-img height="35" width="35" src="img/bestlogo.png" />
        </div>

        <v-toolbar-title
          class="display-1 text-center text-uppercase primary--text font-weight-bold pr-3 ml-3"
        >Contact</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn class="mr-3" href="/signup" text depressed>Sign Up</v-btn>
        <v-btn class="mr-7" text depressed @click="() => this.$router.push('/#about')">About</v-btn>
        <v-btn
          class="mr-3 primary"
          rounded
          depressed
          @click="() => this.$router.push('/#login')"
        >Login</v-btn>
      </v-app-bar>

      <v-card
        :elevation="8"
        style="margin-left: 400px;margin-top:120px;border-radius:10px;"
        max-width="550"
        color="grey lighten-4"
        flat
      >
        <v-toolbar :elevation="1" flat color="grey lighten-4">
          <v-toolbar-title style="margin-left:180px" class="display-1">Sign Up</v-toolbar-title>
        </v-toolbar>
        <v-card-text max-width="400" class="mt-5">
          <v-form ref="form" class="px-6" v-model="valid">
            <v-text-field
              prepend-inner-icon="mdi-account"
              outlined
              rounded
              color="primary"
              placeholder="Name"
              v-model="name"
              :rules="[() => !!name || 'This field is required']"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-phone"
              outlined
              rounded
              color="primary"
              placeholder="Phone-Number"
              v-model="phone"
              :rules="phoneRules"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-city"
              outlined
              rounded
              color="primary"
              placeholder="Address/City"
              v-model="address"
              :rules="[() => !!address || 'This field is required']"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-email"
              outlined
              rounded
              color="primary"
              placeholder="Email"
              v-model="email"
              :rules="emailRules"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-lock"
              outlined
              rounded
              color="primary"
              placeholder="Password"
              v-model="password"
              :rules="passwordRules"
              :type="show ? 'text' : 'password'"
              :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
              @mousedown="show = !show"
              @mouseup="show = !show"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-lock"
              outlined
              rounded
              color="primary"
              placeholder="Confirm Password"
              v-model="cPassword"
              :rules="passwordRules"
              :type="show ? 'text' : 'password'"
              :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
              @mousedown="show = !show"
              @mouseup="show = !show"
            ></v-text-field>
            <v-container v-if="!confirmPassword">
              <v-alert dark dismissible v-model="error" type="error" v-text="error_message" />
            </v-container>
            <v-card-actions>
              <v-btn color="primary" :disabled="!valid" large block rounded @click="onSignup">Signup</v-btn>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-img>
    <mainFooter />
  </div>
</template>

<script>
import axios from "axios";
import mainFooter from "../../components/mainFooter";

export default {
  data() {
    return {
      name: "",
      phone: "",
      address: "",
      email: "",
      password: "",
      error: false,
      error_message: "password mis-match",
      cPassword: "",
      show: false,
      valid: true,
      phoneRules: [
        v =>
          /^\+?([0-9]{2})\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})$/.test(v) ||
          "Phone number must be valid"
      ],
      emailRules: [v => /.+@.+\..+/.test(v) || "E-mail must be valid"],
      passwordRules: [v => (v && v.length >= 6) || "Password too short"]
    };
  },
  components: {
    mainFooter
  },
  methods: {
    onSignup() {
      let data = {
        password: this.password,
        email: this.email,
        name: this.name,
        phone_number: this.phone,
        address: this.address
      };
      let credentials = {
        email: this.email,
        password: this.password
      };

      axios
        .post("http://localhost:3000/api/appUsers", data)
        .then(res => {
          console.log("working :", res);
          this.$store.dispatch("authenticateUser", credentials).then(() => {
            this.$router.push("/createContact");
          });
        })
        .catch(err => {
          this.error = true;
          this.error_message = `${err.name}: ${err.message}`;
        });
    }
  },
  computed: {
    confirmPassword() {
      if (this.password === this.cPassword) {
        this.valid = true;
        return true;
      } else {
        this.valid = false;
        this.error = true;
        return false;
      }
    }
  }
};
</script>
