<template>
  <v-card max-width="1000" color="transparent" flat>
    <v-list class="ma-9" color="transparent">
      <v-list-item
        v-for="contact in contacts"
        :key="contact.id"
        @click="gotoSingle(contact.id)"
        class="mb-2 white"
      >
        <v-list-item-avatar>
          <v-img :src="`${photo}${contact.profile_pic}`"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-weight-bold text-capitalize" v-text="contact.name"></v-list-item-title>
          <v-list-item-subtitle>{{contact.phone_number}}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-icon>
          <v-icon
            :color="contact.favorite ? 'primary' : 'grey'"
            @click="favCont(contact.id,contact.favorite)"
          >mdi-star</v-icon>
        </v-list-item-icon>
        <v-btn icon depressed>
          <v-icon color="primary">mdi-phone</v-icon>
        </v-btn>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      photo: process.env.PHOTO_URL
    };
  },
  props: {
    contacts: {
      type: Array,
      required: true
    }
  },
  methods: {
    favCont(id, value) {
      console.log("in fav:", id, "in fav:", value);

      this.$store.dispatch("favoriteCont", { id: id, boo: value });
    },
    gotoSingle(id) {
      let allData = this.$store.getters.loadedContacts;
      let selected = "";
      const userData = allData.map(el => {
        if (id === el.id) {
          selected = el;
        }
      });
      this.$store.dispatch("singleUser", selected);
    }
  }
};
</script>