<template>
  <div class="mt-9">
    <v-img
      style="height:95vh"
      src="img/loginback.jpg"
      gradient=" 105deg,
      rgb(0, 0, 0, 0) 0%,
      rgb(0, 0, 0, 0) 50%,
       rgb(0, 0, 0, .2) 50%
      "
    >
      <v-card
        style="margin-left: 40px;margin-top: 150px;background:transparent"
        dense
        max-width="450"
        flat
        light
      >
        <h2 class="display-2 text-center mb-6">Login</h2>
        <v-card-text max-width="400">
          <v-form ref="form" class="px-6" @submit.prevent="onSubmit" v-model="valid">
            <v-text-field
              prepend-inner-icon="mdi-account"
              placeholder="Username/Email"
              outlined
              rounded
              v-model="email"
              :rules="emailRules"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-lock"
              placeholder="Password"
              outlined
              rounded
              v-model="password"
              :type="show ? 'text' : 'password'"
              :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
              @mousedown="show = !show"
              @mouseup="show = !show"
              :rules="passwordRules"
            ></v-text-field>
            <v-card-actions>
              <v-btn color="primary" :disabled="!valid" large block rounded type="submit">Login</v-btn>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-img>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      show: false,
      valid: true,
      emailRules: [v => /.+@.+\..+/.test(v) || "E-mail must be valid"],
      passwordRules: [v => (v && v.length >= 6) || "Password too short"]
    };
  },
  methods: {
    onSubmit() {
      let credentials = {
        email: this.email,
        password: this.password
      };
      this.$emit("submit", credentials);
    }
  }
};
</script>