<template>
  <v-footer color="grey darken-2" height="150">
    <v-row justify="center" no-gutters>
      <v-btn large v-for="link in links" :key="link" class="mx-4 white--text" icon>
        <v-icon>{{link}}</v-icon>
      </v-btn>
    </v-row>

    <v-col class="py-4 text-center white--text" cols="12">
      <v-divider></v-divider>
      {{ new Date().getFullYear() }} —
      <strong>Contact-App</strong>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      "mdi-facebook",
      "mdi-telegram",
      "mdi-instagram",
      "mdi-twitter",
      "mdi-gmail"
    ]
  })
};
</script>