<template>
  <div>
    <v-card max-width="800" class="mx-auto">
      <v-img
        gradient=" to right bottom,
                rgb(237, 199, 183,0.5),
                rgb(238, 226, 220,0.5)"
        max-width="800"
        height="200"
        src="img/iphone.jpg"
      ></v-img>

      <v-row class="mr-9">
        <v-col>
          <v-row align="center" justify="center" class="mt-n9">
            <v-img
              id="circle-image"
              max-width="100"
              max-height="100"
              :src="`${photo}${usD.profile_pic}`"
            ></v-img>
          </v-row>

          <v-row align="center" justify="center">
            <input
              style="display: none"
              ref="fileInput"
              :rules="imageRules"
              type="file"
              accept="image/png, image/jpeg, image/bmp"
              placeholder="Pick Photo"
              @change="selectImage"
            />
            <v-btn icon @click="$refs.fileInput.click()">
              <v-icon size="34">mdi-camera</v-icon>
            </v-btn>
          </v-row>
          <v-row align="center" justify="center">
            <v-btn small depressed @click="upload">Change Photo</v-btn>
          </v-row>
        </v-col>
        <v-col cols="8">
          <v-row>
            <div class="display-1 font-weight-bold">{{usD.name}}</div>
            <v-spacer></v-spacer>
            <v-btn icon @click="openDialog">
              <v-icon color="primary">mdi-pencil</v-icon>
            </v-btn>
          </v-row>
          <v-row>
            <h4 class="grey--text ml-1">{{usD.contNum}} contacts</h4>
          </v-row>
          <v-row>
            <v-col cols>
              <v-card class="mx-auto" flat>
                <v-list two-line>
                  <v-list-item>
                    <v-list-item-icon>
                      <v-icon color="primary">mdi-phone</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title>
                        <v-list-item-title>{{usD.phone_number}}</v-list-item-title>
                      </v-list-item-title>
                      <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-icon>
                      <v-icon color="primary">mdi-account</v-icon>
                    </v-list-item-icon>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-icon>
                      <v-icon color="primary">mdi-email</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title>{{usD.email}}</v-list-item-title>
                      <v-list-item-subtitle>Personal</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-icon>
                      <v-icon color="primary">mdi-map-marker</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title>{{usD.address}}</v-list-item-title>
                      <v-list-item-subtitle>address</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
            <v-col cols>
              <v-card class="mx-auto" flat>
                <v-list two-line>
                  <v-list-item>
                    <v-list-item-icon>
                      <v-icon color="primary">mdi-facebook</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title>
                        <v-list-item-title>@/{{usD.name}}</v-list-item-title>
                      </v-list-item-title>
                      <v-list-item-subtitle>facebook</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-icon>
                      <v-icon color="primary">mdi-instagram</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title>@_{{usD.name}}</v-list-item-title>
                      <v-list-item-subtitle>instagram</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-icon>
                      <v-icon color="primary">mdi-twitter</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                      <v-list-item-title>@{{usD.name}}</v-list-item-title>
                      <v-list-item-subtitle>twitter</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <v-dialog persistent max-width="450" v-model="updateDialog">
      <v-card dense flat light color="grey lighten-4" class="mx-auto">
        <v-toolbar color="primary lighten-2" flat>
          <v-toolbar-title>Edit Profile</v-toolbar-title>
        </v-toolbar>
        <v-card-text max-width="400" class="mt-7">
          <v-form ref="form" class="px-6">
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-account"
              label="Name"
              v-model="name"
              clearable
            ></v-text-field>
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-phone"
              label="Phone-Number"
              v-model="phone_number"
              clearable
            ></v-text-field>
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-city"
              label="Address/City"
              v-model="address"
              clearable
            ></v-text-field>
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-email"
              label="Email"
              v-model="email"
              clearable
            ></v-text-field>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="ml-3" text @click.stop="updateDialog = false">Cancel</v-btn>
              <v-btn text color="primary" @click="updateUser">Update</v-btn>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      updateDialog: false,
      name: "",
      email: "",
      address: "",
      phone_number: "",
      selectedImage: null,
      imageRules: [
        value =>
          !value ||
          value.size < 2000000 ||
          "photo size should be less than 2 MB!"
      ],
      photo: process.env.PHOTO_URL
    };
  },
  props: {
    proInfo: {
      type: Object,
      required: true
    }
  },
  computed: {
    usD() {
      return this.proInfo;
    }
  },
  methods: {
    selectImage(event) {
      this.selectedImage = event.target.files[0];
    },
    upload() {
      let fd = new FormData();
      fd.append("image", this.selectedImage, this.selectedImage.name);
      const type = "user";
      this.$store.dispatch("uploadPhoto", { fd, type });
      this.selectedImage = null;
    },
    openDialog() {
      this.updateDialog = true;
      this.email = this.usD.email;
      this.name = this.usD.name;
      this.address = this.usD.address;
      this.phone_number = this.usD.phone_number;
    },
    updateUser() {
      this.$store.dispatch("updateUser", {
        name: this.name,
        address: this.address,
        email: this.email,
        phone_number: this.phone_number
      });
      this.updateDialog = false;
    }
  }
};
</script>

<style scoped>
#circle-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
</style>