<template>
  <v-container>
    <v-row>
      <v-col cols="10"></v-col>
      <v-col cols="2">
        <v-btn icon>
          <v-icon color="primary" @click="openDialog">mdi-pencil</v-icon>
        </v-btn>
        <v-btn icon @click.stop="deleteDialog = true">
          <v-icon color="error" dark>delete_sweep</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-badge
        bordered
        bottom
        color="#FFD700"
        icon="mdi-star"
        offset-x="20"
        offset-y="20"
        :value="user.favorite"
      >
        <v-avatar size="100">
          <v-img :src="`${photo}${user.profile_pic}`" dark></v-img>
        </v-avatar>
      </v-badge>
    </v-row>
    <v-row align="center" justify="center">
      <input
        style="display: none"
        ref="fileInput"
        :rules="imageRules"
        type="file"
        accept="image/png, image/jpeg, image/bmp"
        placeholder="Pick Photo"
        @change="selectImage"
      />
      <v-btn icon @click="$refs.fileInput.click()">
        <v-icon size="34">mdi-camera</v-icon>
      </v-btn>
      <v-btn small depressed @click="upload">Change Photo</v-btn>
    </v-row>
    <v-row align="center" justify="center" class="mt-7">
      <div class="display-1 font-weight-bold">{{ user.name }}</div>
    </v-row>

    <v-row>
      <v-col cols="7">
        <v-card max-width="700" class="mx-auto" flat>
          <v-list two-line>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">mdi-phone</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>
                  <v-list-item-title>{{ user.phone_number }}</v-list-item-title>
                </v-list-item-title>
                <v-list-item-subtitle>Mobile</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-icon>
                <v-icon color="primary">mdi-message-text</v-icon>
              </v-list-item-icon>
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">mdi-email</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ user.email }}</v-list-item-title>
                <v-list-item-subtitle>Personal</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">mdi-map-marker</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ user.address }}</v-list-item-title>
                <v-list-item-subtitle>address</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col cols="5">
        <v-card max-width="700" class="mx-auto" flat>
          <v-list two-line>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">mdi-facebook</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>
                  <v-list-item-title>@/{{ user.name }}</v-list-item-title>
                </v-list-item-title>
                <v-list-item-subtitle>facebook</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">mdi-instagram</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>@_{{ user.name }}</v-list-item-title>
                <v-list-item-subtitle>instagram</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">mdi-twitter</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>@{{ user.name }}</v-list-item-title>
                <v-list-item-subtitle>twitter</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog persistent max-width="290" v-model="deleteDialog">
      <v-card>
        <v-card-title class="headline">Delete Contact?</v-card-title>

        <v-card-text>Are you sure you want to delete this Contact?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn text color="grey" @click="deleteDialog = false">Cancle</v-btn>

          <v-btn color="error" text dark @click="deleteContact(user)">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog persistent max-width="450" v-model="updateDialog">
      <v-card light color="grey lighten-4" class="mx-auto">
        <v-toolbar color="primary" class="mb-7" flat>
          <v-toolbar-title>Edit Contact</v-toolbar-title>
        </v-toolbar>
        <v-row align="center" justify="center">
          <v-img
            id="circle-image"
            max-width="100"
            max-height="100"
            :src="`${photo}${user.profile_pic}`"
          ></v-img>
        </v-row>

        <v-card-text max-width="400" class="mt-7">
          <v-form ref="form" class="px-6">
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-account"
              label="Name"
              v-model="name"
              clearable
            ></v-text-field>
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-phone"
              label="Phone-Number"
              v-model="phone_number"
              clearable
            ></v-text-field>
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-city"
              label="Address/City"
              v-model="address"
              clearable
            ></v-text-field>
            <v-text-field
              rounded
              outlined
              dense
              prepend-inner-icon="mdi-email"
              label="Email"
              v-model="email"
              clearable
            ></v-text-field>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text color="grey" class="ml-3" @click.stop="updateDialog = false">Cancel</v-btn>
              <v-btn text color="primary" @click="updateContact">Update</v-btn>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      visiblity: true,
      deleteDialog: false,
      updateDialog: false,
      name: "",
      email: "",
      phone_number: "",
      selectedImage: null,
      imageRules: [
        value =>
          !value ||
          value.size < 2000000 ||
          "photo size should be less than 2 MB!"
      ],
      address: "",
      photo: process.env.PHOTO_URL
    };
  },
  methods: {
    selectImage(event) {
      this.selectedImage = event.target.files[0];
    },
    upload() {
      if (this.selectedImage) {
        let fd = new FormData();
        fd.append("image", this.selectedImage, this.selectedImage.name);
        const type = "contact";
        this.$store.dispatch("uploadPhoto", { fd, type });
        this.selectedImage = null;
      }
    },
    deleteContact(sUser) {
      //if there is data on selected user
      if (sUser.id !== "no data") {
        console.log(`${sUser.name} was deleted`);
        if (this.$store.getters.getContNum === 1) {
          this.$store.dispatch("deleteContact", sUser);
          this.$router.replace("/createContact");
        } else {
          this.$store.dispatch("deleteContact", sUser);
        }

        this.deleteDialog = false;
      }
    },
    openDialog() {
      this.updateDialog = true;
      this.name = this.user.name;
      this.email = this.user.email;
      this.address = this.user.address;
      this.phone_number = this.user.phone_number;
    },
    updateContact() {
      let data = {
        name: this.name,
        email: this.email,
        address: this.address,
        phone_number: this.phone_number
      };
      this.$store.dispatch("updateContact", data);
      this.updateDialog = false;
    }
  },
  computed: {
    user() {
      return this.$store.getters.singleUser;
    }
  }
};
</script>

<style scoped>
#circle-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
</style>
