<template>
  <v-carousel height="100%" :show-arrows="false" hide-delimiters v-model="cModel">
    <v-carousel-item>
      <v-img
        style="height:100vh"
        src="img/bestbg.jpg"
        gradient=" 105deg,
      rgb(0, 0, 0, 0) 0%,
      rgb(0, 0, 0, 0) 100%,
       rgb(0, 0, 0, .2) 100%
      "
      >
        <v-layout fill-height align-center pb-1 pt-8 ml-n9>
          <v-flex xs12 md7 offset-md3>
            <h1 class="display-3 text-center black--text font-weight-bold main-txt">Save Contact</h1>
            <v-col class="text-center">
              <div
                class="display-1 text-uppercase text-center pl-2 mb-9 sub-txt"
                color="primary"
              >Save your Information</div>
              <v-btn class="mt-9 btn" rounded large color="primary" @click="cModel++">
                Get Started
                <v-icon right dark>mdi-account-arrow-right</v-icon>
              </v-btn>
            </v-col>
          </v-flex>
        </v-layout>
      </v-img>
    </v-carousel-item>
    <v-carousel-item>
      <v-sheet color="white" height="100%">
        <v-row class="fill-height" align="center" justify="center">
          <v-img
            style="height:100vh"
            src="img/bestbg.jpg"
            gradient=" 105deg,
      rgb(0, 0, 0, 0) 0%,
      rgb(0, 0, 0, 0) 100%,
       rgb(0, 0, 0, .2) 100%
      "
          >
            <v-layout align-center pb-1 pt-8 ml-n9>
              <v-flex xs12 md7 offset-md3>
                <h1
                  class="display-3 text-center black--text font-weight-bold main-txt"
                >Save First Contact</h1>
                <v-col class="text-center">
                  <div
                    class="display-1 text-uppercase black--text text-center pl-2 mb-9 sub-txt"
                  >Save And Goto Home</div>
                </v-col>
              </v-flex>
            </v-layout>
            <v-card
              style="margin-left: 480px; margin-top:-30px;border-radius:10px"
              max-width="500"
              :elevation="5"
              color="grey lighten-4"
              class="pa-2"
              flat
              light
            >
              <v-card-text max-width="400">
                <v-form ref="form" class="px-6 mt-6">
                  <v-text-field
                    rounded
                    outlined
                    prepend-inner-icon="mdi-account"
                    dense
                    placeholder="Name"
                    v-model="name"
                  ></v-text-field>
                  <v-text-field
                    rounded
                    outlined
                    prepend-inner-icon="mdi-phone"
                    dense
                    placeholder="Phone-Number"
                    v-model="phone"
                  ></v-text-field>
                  <v-text-field
                    rounded
                    outlined
                    prepend-inner-icon="mdi-city"
                    dense
                    placeholder="Address/City"
                    v-model="address"
                  ></v-text-field>
                  <v-text-field
                    rounded
                    outlined
                    prepend-inner-icon="mdi-email"
                    dense
                    placeholder="Email"
                    v-model="email"
                  ></v-text-field>
                  <v-file-input
                    :rules="imageRules"
                    rounded
                    outlined
                    dense
                    show-size
                    accept="image/png, image/jpeg, image/bmp"
                    placeholder="Pick Photo"
                    prepend-icon="mdi-camera"
                    label="Profile Picture"
                    color="primary"
                    @change="selectImage"
                  ></v-file-input>
                  <v-card-actions>
                    <v-hover v-slot:default="{ hover }" close-delay="200">
                      <v-btn
                        large
                        block
                        :outlined="hover ? false:true"
                        color="primary"
                        @click="onSave"
                      >Save</v-btn>
                    </v-hover>
                  </v-card-actions>
                </v-form>
              </v-card-text>
            </v-card>
          </v-img>
        </v-row>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              fab
              large
              class="mr-9 mt-9"
              color="primary"
              fixed
              right
              top
              @click="logout"
            >
              <v-icon>mdi-exit-to-app</v-icon>
            </v-btn>
          </template>
          <span>Exit from App</span>
        </v-tooltip>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  middleware: "authenticate",
  data() {
    return {
      name: "",
      phone: "",
      address: "",
      selectedImage: null,
      email: "",
      cModel: 0,
      imageRules: [
        value =>
          !value ||
          value.size < 2000000 ||
          "photo size should be less than 2 MB!"
      ]
    };
  },
  methods: {
    selectImage(event) {
      this.selectedImage = event;
      console.log(this.selectedImage.name);
    },
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.replace("/#login");
      });
    },
    async onSave() {
      let imageName;
      if (this.selectedImage && this.selectedImage !== null) {
        console.log("on the way");

        let fd = new FormData();
        fd.append("image", this.selectedImage, this.selectedImage.name);
        const type = "newCont";
        await this.$store.dispatch("uploadPhoto", { fd, type }).then(() => {
          imageName = this.$store.getters.getImage;
          console.log("teketel", imageName);
        });
      } else if (!this.selectedImage && this.selectedImage === null) {
        imageName = "default.png";
      }
      console.log("demo bezi lay", imageName);

      await this.$store
        .dispatch("createContact", {
          name: this.name,
          phone: this.phone,
          address: this.address,
          email: this.email,
          profile_pic: imageName
        })
        .then(() => {
          this.selectedImage = null;
          this.$router.replace("/home");
        });
    }
  }
};
</script>

<style scoped>
.btn {
  animation: moveInUp 1s ease-out;
}
.main-txt {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.sub-txt {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
</style>

