<template>
  <div style="background-color:#FAFAFA">
    <v-app-bar id="navigation" :color="cl" flat fixed>
      <div>
        <v-img height="35" width="35" src="img/bestlogo.png" />
      </div>

      <v-toolbar-title
        class="display-1 text-uppercase primary--text font-weight-bold pr-3 ml-3"
      >Contact</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn class="mr-3" text depressed @click="$vuetify.goTo('#login')">Login</v-btn>
      <v-btn class="mr-7" text depressed @click="$vuetify.goTo('#about')">About</v-btn>
      <v-btn class="mr-3" href="/signup" rounded color="primary" depressed>Sign Up</v-btn>
    </v-app-bar>

    <div style="clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);">
      <v-img
        style="height:95vh"
        src="img/girlPhone.jpg"
        gradient=" to right bottom,
      rgb(0,0,0,0),
      rgb(0, 0, 0,0)
      "
      >
        <v-layout fill-height align-center pb-1 pt-8 ml-n9>
          <v-flex xs12 md7 offset-md3>
            <h1 class="display-3 text-center black--text font-weight-bold">Save Contact</h1>
            <v-col class="text-center">
              <div
                class="display-1 text-uppercase text-center pl-2 mb-9"
                color="primary"
              >Save your Information</div>
              <v-btn rounded large color="primary" href="/signup">
                create account
                <v-icon right dark>start</v-icon>
              </v-btn>
            </v-col>
          </v-flex>
        </v-layout>
      </v-img>
    </div>
    <v-container id="about" class="text-center grey--text darken-3 mt-8">
      <h1 class="display-1 black--text font-weight-bold">PUT YOUR CONTACTS ON SAFE AND STABLE PLACE</h1>
      <v-row class="mt-9">
        <v-col cols="12" sm="6">
          <h3 class="text-uppercase black--text">why contact app?</h3>
          <p
            class="text-left text-justify"
          >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with d</p>

          <h3 class="text-uppercase black--text">Additional Features</h3>
          <p
            class="text-left text-justify"
          >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with d</p>
        </v-col>
        <v-col cols="12" sm="6">
          <v-img src="img/onhand2.png" height="400"></v-img>
        </v-col>
      </v-row>
    </v-container>
    <login id="login" @submit="login" />
    <v-container class="text-center">
      <v-snackbar bottom v-model="error">
        "password or email is not correct"
        <v-btn color="pink" text @click="error = false">Close</v-btn>
      </v-snackbar>
    </v-container>
    <mainFooter style="margin-top:90px" />
  </div>
</template>
<script>
import axios from "axios";
import mainFooter from "../components/mainFooter";
import login from "../components/login";
export default {
  data() {
    return {
      error: false,
      cl: "transparent"
    };
  },
  components: {
    mainFooter,
    login
  },
  methods: {
    login(credentials) {
      this.$store.dispatch("authenticateUser", credentials).then(() => {
        // this.dispatchMethod();
        console.log("chkul", this.$store.getters.getToken);
        let url = `http://localhost:3000/api/contacts/count?where={"parent_id":"${this.$store.getters.getUserId}"}&access_token=${this.$store.getters.getToken}`;
        this.$store.dispatch("authenticateUser", credentials).then(
          axios
            .get(url)
            .then(res => {
              console.log("res ngr new gn ayseram", res);
              if (res.data.count === 0) {
                console.log("chkul", this.$store.getters.loadedContacts);

                this.$router.push("/createContact");
              } else {
                this.$router.push("/home");
              }
            })
            .catch(err => {
              console.log(err);
              this.error = true;
            })
        );
      });
    },
    onScroll() {
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop;
      this.cl = "white";
      if (currentScrollPosition === 0) {
        this.cl = "transparent";
      }
    }
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll);
  }
};
</script>