<template>
  <div>
    <v-app-bar :elevation="1" color="white" flat dark>
      <div>
        <v-img height="35" width="35" src="img/bestlogo.png" />
      </div>

      <v-tabs class="ml-6" color="primary" active-class="primary--text" v-model="tab">
        <v-tab class="black--text">Contact</v-tab>

        <v-tab class="black--text">Favorites</v-tab>

        <v-tab class="black--text">History</v-tab>
      </v-tabs>
      <v-spacer></v-spacer>
      <v-btn rounded outlined color="primary" @click.stop="profile_dialog = true">
        Profile
        <v-icon right>mdi-account</v-icon>
      </v-btn>
      <v-btn class="ml-5" rounded depressed @click="onLogout" color="primary">
        Logout
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-tabs-items v-model="tab">
      <v-tab-item class="mt-7">
        <v-row>
          <v-col cols="4">
            <v-row>
              <v-row class="mr-4">
                <v-text-field
                  placeholder="Search"
                  prepend-inner-icon="mdi-magnify"
                  class="ml-8"
                  hide-details
                  outlined
                  color="primary"
                  dense
                  flat
                  rounded
                  style="width:350px"
                  @input="getText"
                  v-model="searchTerm"
                ></v-text-field>
                <v-btn icon color="primary" @click.stop="createDialog = true">
                  <v-icon>add</v-icon>
                </v-btn>
              </v-row>

              <v-container id="scroll-target" style="max-height: 480px" class="overflow-y-auto">
                <contList class="mt-9" :contacts="loadedContacts" />
              </v-container>
              <v-divider vertical color="primary"></v-divider>
            </v-row>
          </v-col>

          <v-col cols="8">
            <singleUser class="mt-n7" />
          </v-col>
        </v-row>
      </v-tab-item>
      <v-tab-item class="grey lighten-3">
        <v-container class="grey lighten-3">
          <v-row>
            <v-col v-for="fav in favConts" :key="fav.id" cols="12" md="4">
              <v-hover v-slot:default="{hover}" close-delay="200">
                <v-card :elevation="hover ? 20 : 5" max-width="350" class="mx-auto">
                  <v-img :src="`${photo}${fav.profile_pic}`" height="200px" dark></v-img>
                  <v-card-title>
                    <div>{{fav.name}}</div>
                  </v-card-title>

                  <v-list two-line>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="primary">mdi-phone</v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title>{{fav.phone_number}}</v-list-item-title>
                        <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-icon>
                        <v-icon>mdi-message-text</v-icon>
                      </v-list-item-icon>
                    </v-list-item>

                    <v-divider inset></v-divider>

                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="primary">mdi-email</v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title>{{fav.email}}</v-list-item-title>
                        <v-list-item-subtitle>Personal</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>

                    <v-divider inset></v-divider>

                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="primary">mdi-map-marker</v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title>{{fav.address}}</v-list-item-title>
                        <v-list-item-subtitle>address</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>
      <v-tab-item></v-tab-item>
    </v-tabs-items>

    <v-btn
      fab
      large
      class="mr-9 mt-9"
      color="primary"
      fixed
      right
      bottom
      @click.stop="createDialog = true"
    >
      <v-icon>add</v-icon>
    </v-btn>

    <v-dialog persistent v-model="createDialog" max-width="450">
      <v-card color="grey lighten-4" class="mx-auto">
        <v-toolbar color="primary" class="mb-11" flat>
          <v-toolbar-title>Create Contact</v-toolbar-title>
        </v-toolbar>
        <v-row align="center" justify="center" class="mt-n9">
          <v-img id="circle-image" max-width="100" max-height="100" :src="`${photo}default.png`"></v-img>
        </v-row>
        <v-row align="center" justify="center">
          <input
            style="display: none"
            ref="fileInput"
            :rules="imageRules"
            type="file"
            accept="image/png, image/jpeg, image/bmp"
            placeholder="Pick Photo"
            @change="selectImage"
          />
          <v-btn class="mb-4" icon @click="$refs.fileInput.click()">
            <v-icon size="34">mdi-camera</v-icon>
          </v-btn>
        </v-row>
        <v-card-text max-width="400">
          <v-form ref="form" class="px-6">
            <v-text-field
              color="primary"
              prepend-inner-icon="mdi-account"
              label="Name"
              v-model="name"
              rounded
              outlined
              dense
            ></v-text-field>
            <v-text-field
              color="primary"
              prepend-inner-icon="mdi-phone"
              label="Phone-Number"
              v-model="phone"
              rounded
              outlined
              dense
            ></v-text-field>
            <v-text-field
              color="primary"
              prepend-inner-icon="mdi-city"
              label="Address/City"
              v-model="address"
              rounded
              outlined
              dense
            ></v-text-field>
            <v-text-field
              color="primary"
              prepend-inner-icon="mdi-email"
              label="Email"
              v-model="email"
              rounded
              outlined
              dense
            ></v-text-field>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey" text depressed @click.stop="createDialog = false">cancel</v-btn>
              <v-btn text depressed color="primary" @click="onSave">Save</v-btn>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="profile_dialog" max-width="800">
      <profile :proInfo="userInfo" />
    </v-dialog>
  </div>
</template>

<script>
import contList from "~/components/contList";
import mainFooter from "~/components/mainFooter";
import singleUser from "~/components/singleUser";
import profile from "~/components/profile";
import axios from "axios";

export default {
  middleware: "authenticate",
  computed: {
    loadedContacts() {
      return this.$store.getters.loadedContacts;
    },
    userInfo() {
      return this.$store.getters.getUserInfo;
    },
    favConts() {
      return this.$store.getters.getFavCont;
    }
  },
  data() {
    return {
      tab: null,
      name: "",
      phone: "",
      email: "",
      address: "",
      searchTerm: "",
      imageRules: [
        value =>
          !value ||
          value.size < 2000000 ||
          "photo size should be less than 2 MB!"
      ],
      createDialog: false,
      profile_dialog: false,
      selectedImage: null,
      photo: process.env.PHOTO_URL
    };
  },
  components: {
    contList,
    mainFooter,
    singleUser,
    profile
  },
  methods: {
    getText() {
      this.$store.dispatch("search", this.searchTerm);
    },
    selectImage(event) {
      this.selectedImage = event.target.files[0];
      console.log(this.selectedImage.name);
    },
    onScroll(e) {
      this.offsetTop = e.target.scrollTop;
    },
    async onSave() {
      let imageName = "default.png";
      if (this.selectedImage && this.selectedImage !== null) {
        console.log("on the way");

        let fd = new FormData();
        fd.append("image", this.selectedImage, this.selectedImage.name);
        const type = "newCont";
        await this.$store.dispatch("uploadPhoto", { fd, type }).then(() => {
          console.log("teketel");

          imageName = this.$store.getters.getImage;
        });
      } else if (!this.selectedImage && this.selectedImage === null) {
        imageName = "default.png";
      }

      await this.$store.dispatch("createContact", {
        name: this.name,
        phone: this.phone,
        address: this.address,
        email: this.email,
        profile_pic: imageName
      });
      this.createDialog = false;
      this.selectedImage = null;
      this.$refs.form.reset();
    },
    onLogout() {
      this.$store.dispatch("logout");
      this.$router.replace("/#login");
    }
  }
};
</script>